.bg-light {
  background: #fff !important;
}

.navigation {
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  width: 100%;
  left: 0%;
  right: 0%;
  z-index: 100;
}

.start_style {
  padding: 6px 6px;
}

.list-style li a:hover {
  color: #d4a737 !important;
}

.text-danger {
  color: #d4a737 !important;
  font-family: "Mulish";
}

.btn-danger {
  background: #d4a737 !important;
  border: none;
}

.text-dark {
  color: #000 !important;
  font-weight: 400;
}

.button {
  border: none;
}

.margin {
  margin-left: 20px;
}

.text-dark {
  color: #000 !important;
}

.btn-light {
  background: #e6f0ff !important;
  color: #0049b0 !important;
  border: none;
  width: 150px;
  border-radius: 10px;
}

.fs-6 {
  font-size: 15px !important;
}

.navbar-brand {
  padding-top: 0 !important;
}

.try_border {
  border: none;
  width: 240px;
}

.ty_border {
  border: none;
  width: 340px;
}

.a-size {
  font-size: 18px;
}

.s-size {
  font-size: 15px;
}

.mser {
  margin-left: 13px;
}

.mserv {
  margin-left: 13px;
}

@media (max-width: 768px) {
  .navigation {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
  }

  .margin {
    margin-left: 0;
  }

  .mser {
    margin-left: 0;
  }

  .mserv {
    margin-left: 0;
  }
}
