<div
  class="masthead"
  style="
    background-image: url('../../../../assets/image/pexels-mikhail-nilov-8943072\ 1\ \(4\).svg');
  "
>
  <div class="container">
    <div class="row">
      <div class="col-6 mt-5">
        <div class="">
          <a [routerLink]="['']" class="navbar-brand brand_logo">
            <img
              src="../../../assets/image/white 1.svg"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
      </div>
      <div class="col-6 mt-5 disa">
        <div class="card cardy bg-transparent ms-auto">
          <div class="d-flex align-items-center justify-content-end gap-3">
            <!-- <div class="d-flex align-items-center justify-content-start gap-3 mt-5"> -->
            <a [routerLink]="['']" class="">
              <img
                src="../../../assets/image/1280px-Download_on_the_App_Store_Badge 1.svg"
                alt=""
                class="img-fluid"
              />
            </a>

            <a [routerLink]="['']" class="">
              <img
                src="../../../assets/image/1280px-Google_Play_Store_badge_EN 1.svg"
                alt=""
                class="img-fluid"
              />
            </a>
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
    <div
      class="color-overlay d-flex align-items-center justify-content-between"
    >
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-sm-12 col-md-8 col-lg-6 col-xl-5 mb-4">
            <div class="card border-light mt-3 mb-4 card-style">
              <div class="card-body text-center">
                <h5 class="text-start fs-6 fw-bold mt-3 mb-3 Poppins text-dark">
                  Sign up as a Driver below
                </h5>
                <form>
                  <div class="form-outline mb-4">
                    <input
                      type="name"
                      class="form-control Poppins"
                      formControlName="name"
                      name="name"
                      placeholder="First name"
                    />

                    <input
                      type="name"
                      name="city"
                      class="form-control mt-4 Poppins"
                      formControlName=""
                      placeholder="Select your city"
                    />

                    <input
                      type="number"
                      class="form-control mt-4 Mulish"
                      name="password"
                      formControlName=""
                      placeholder="08012345678"
                    />
                  </div>

                  <a
                    type="submit"
                    role="button"
                    class="btn btn-success mb-3 text-light form-control Mulish"
                    >Register</a
                  >

                  <p class="text-dark fw-normal Poppins size">
                    By sending your request you accept our Privacy Policy, agree
                    to receive marketing communications from UrbanDrive via SMS
                    and calls, and agree to chat with us via WhatsApp
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 disa">
        <h3 class="Poppins d-text fw-bolder">
          Earn good <br />
          money driving
        </h3>
        <p class="Poppins fw-light">Become an UrbanDriver today.</p>
      </div>
    </div>
  </div>
</div>

<section class="bg-light p-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-center gap-5">
          <div class="card border-light">
            <img src="../../../assets/image/WSJ.svg" alt="" class="img-fluid" />
          </div>

          <div class="card border-light">
            <img
              src="../../../assets/image/USA TODAY.svg"
              alt=""
              class="img-fluid"
            />
          </div>

          <div class="card border-light">
            <img
              src="../../../assets/image/Bloomberg.svg"
              alt=""
              class="img-fluid"
            />
          </div>

          <div class="card border-light">
            <img
              src="../../../assets/image/Forbes.svg"
              alt=""
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light p-1">
  <div class="container">
    <div class="row m-card">
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4 p-3 text-center">
        <div class="card border-illus bg-light">
          <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="col-2 ms-3 mt-2 bg-light p-2 text-center">
              <img
                src="../../../assets/image/money (1).svg"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title fw-bold Poppins">Earn good money</h5>
            <p class="card-text mt-3 Poppins">
              Earn extra cash with <br />
              UrbanDrive.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4 mb-4 p-3 text-center">
        <div class="card border-illus bg-light">
          <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="col-2 ms-3 mt-2 bg-light p-2 text-center">
              <img
                src="../../../assets/image/hands.svg"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title fw-bold Poppins">Drive anytime</h5>
            <p class="card-text Poppins mt-3">
              Work at your own schedule. <br />
              You are your boss.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4 mb-4 p-3 text-center">
        <div class="card border-illus bg-light">
          <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="col-2 ms-3 mt-2 bg-light p-2 text-center">
              <img
                src="../../../assets/image/no.svg"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title fw-bold Poppins">No surprise fees</h5>
            <p class="card-text Poppins mt-3">
              We are very upfront with <br />
              your fees. No extras.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light">
  <div class="container">
    <div class="row m-card">
      <div class="d-flex align-items-center justify-content-center">
        <h3 class="Poppins fw-bold rad">How does it work?</h3>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 margin-mock">
        <div class="d-flex align-items-center justify-content-start gap-3 mb-5">
          <div class="bg-success rounded-circle p-3 try fw-bold">
            <div class="d-flex align-items-center justify-content-center three">
              1
            </div>
          </div>
          <div class="cirle">
            <h5 class="card-title Poppins fw-bolder">
              Accept customer request
            </h5>
            <p class="card-text mt-2 Poppins">
              Accept requests from customers based on the service you are
              availiable to provide.
            </p>
          </div>
        </div>

        <div class="d-flex align-items-center justify-content-start gap-3 mb-5">
          <div class="bg-dark rounded-circle p-3 try fw-bold">
            <div class="d-flex align-items-center justify-content-center three">
              2
            </div>
          </div>
          <div class="cirle whel mb-3">
            <h5 class="card-title Poppins fw-bolder">Meet your clients</h5>
            <p class="card-text mt-2 Poppins">
              Meet client at the location given from the app.
            </p>
          </div>
        </div>

        <div class="d-flex align-items-center justify-content-start gap-3 mb-5">
          <div class="bg-dark rounded-circle p-3 try fw-bold">
            <div class="d-flex align-items-center justify-content-center three">
              3
            </div>
          </div>
          <div class="cirle whel">
            <h5 class="card-title Poppins fw-bolder">Take the wheels</h5>
            <p class="card-text mt-2 Poppins">
              Get the keys to your client's car and simplify your journey.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 p-3">
        <div class="card border-illus">
          <img
            src="../../../../assets/image/mockrocket-capture 1.svg"
            alt=""
            class="img-fluid p-5 mockroc-up"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light p-2">
  <div class="container">
    <div class="row mar-accordion">
      <h3 class="Poppins fw-bold text-center my-3">FAQ</h3>
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header fw-bolder Poppins" id="flush-headingOne">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              How often do I use UrbanDrive?
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body Poppins">
              Drive with us as often as you want to. You have the opportunity to
              work at your schedule and be your own boss with us.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header fw-bolder Poppins" id="flush-headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              How do I get paid?
            </button>
          </h2>
          <div
            id="flush-collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body Poppins">
              No, customers are only allowed to have a driver per time to avoid
              overspending from the customers end and help manage system
              properly.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2
            class="accordion-header fw-bolder Poppins"
            id="flush-headingThree"
          >
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree"
              aria-expanded="false"
              aria-controls="flush-collapseThree"
            >
              Do I need to have a vehicle?
            </button>
          </h2>
          <div
            id="flush-collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body Poppins">
              No, customers are only allowed to have a driver per time to avoid
              overspending from the customers end and help manage system
              properly.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header fw-bolder Poppins" id="flush-headingFour">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour"
              aria-expanded="false"
              aria-controls="flush-collapseFour"
            >
              Do I pay UrbanDrive?
            </button>
          </h2>
          <div
            id="flush-collapseFour"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingFour"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body Poppins">
              No, customers are only allowed to have a driver per time to avoid
              overspending from the customers end and help manage system
              properly.
            </div>
          </div>
        </div>
        <div class="accordion-item border-bottom">
          <h2 class="accordion-header bold Poppins" id="flush-headingFive">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFive"
              aria-expanded="false"
              aria-controls="flush-collapseFive"
            >
              How long does it take to become a verified UrbanDriver?
            </button>
          </h2>
          <div
            id="flush-collapseFive"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingFive"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body Poppins">
              No, customers are only allowed to have a driver per time to avoid
              overspending from the customers end and help manage system
              properly.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="button d-flex align-items-center justify-content-center">
      <!-- <button type="button" class="btn btn-primary p-2 Poppins">
        Sign up as a driver
      </button> -->

      <a
        href=""
        role="button"
        [routerLink]="['/personal-info']"
        class="btn btn-primary p-2 Poppins"
        >Sign up as a driver</a
      >
    </div>
    <div class="col-12 text-center Poppins mt-5">
      <a href="" class="">
        <span class="dec text-dark">Got any questions or concerns?</span>
        Contact us.
      </a>
      <p class="fs-1 mt-2">123 UrbanDrive Street, Ikoyi, Lagos</p>
    </div>
  </div>
</section>
