.masthead {
  background-size: cover;
  background-position: cover;
  min-height: 100vh;
  position: relative;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.color-overlay {
  position: absolute;
  width: 80%;
  height: 100%;
}

.d-text {
  font-size: 60px;
}

.bg-light {
  background: #fff !important;
}

.cardy {
  border: none;
}

.simple {
  margin-top: 120px;
  margin-bottom: 80px;
}

.mockup {
  margin-top: -6rem;
}

.bg-dark {
  background: #f0f4f5 !important;
}

.b-mockup {
  border: none;
}

.read-h {
  font-size: 40px;
}

.list-style {
  font-size: 17px;
  color: #0049b0;
  font-weight: 600;
}

.fs-4 {
  font-size: 18px !important;
}

.p-5 {
  padding: 60px 60px !important;
}

.nav-link {
  padding: 0 !important;
}

.btn-success {
  background: #0049b0 !important;
  color: #fff !important;
  border-radius: 15px;
  border: none;
}

.size {
  font-size: 8px;
}

.card-style {
  width: 315px;
  border-radius: 15px;
}

.m-card {
  margin-top: 120px;
  margin-bottom: 120px;
}

.border-illus {
  border: none;
}

.m-card {
  margin-top: 120px;
  margin-bottom: 100px;
}

.try {
  width: 35px;
  height: 35px;
  margin-top: -2.8rem;
}

.three {
  margin-top: -0.7rem;
}

.rad {
  margin-top: 5px;
  margin-bottom: 5px;
}

.margin-mock {
  margin-top: 200px;
}

.bg-dark {
  background: #e5f0ff !important;
  color: #0049b0;
}

.bg-success {
  color: #e5f0ff !important;
  background: #0049b0 !important;
}

.mar-accordion {
  margin-top: 60px;
  margin-bottom: 50px;
}

.btn-primary {
  background: #0049b0 !important;
  border: none;
  width: 180px;
  border-radius: 15px;
}

.dec {
  color: #212121 !important;
}

a {
  text-decoration: none;
}

.whel {
  margin-top: -0.5rem;
}

.fs-1 {
  font-size: 13px !important;
}

@media (max-width: 768px) {
  .mock-up {
    order: -1;
  }

  .mockroc-up {
    display: none;
  }

  .m-card {
    margin-top: 60px;
    margin-bottom: 50px;
  }

  .margin-mock {
    margin-top: 100px;
  }

  .disa {
    display: none;
  }

  .card-style {
    width: 290px;
    border-radius: 15px;
  }

  .simple {
    margin-top: 60px;
    margin-bottom: 50px;
  }

  .p-5 {
    padding: 20px 20px !important;
  }

  .simp {
    margin-top: 10px;
  }
}
