<div
  class="bg-banner"
  style="
    background-image: url('../../../../assets/image/pexels-mikhail-nilov-8943072\ 1\ \(4\).svg');
  "
>
  <div class="container">
    <div class="row">
      <div class="col-6 mt-4">
        <div class="card cardy bg-transparent">
          <a [routerLink]="['']" class="navbar-brand brand_logo">
            <img
              src="../../../assets/image/white 1.svg"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
      </div>
      <div class="col-6 mt-4">
        <div class="card cardy bg-transparent">
          <div class="gap-3 d-flex align-items-center justify-content-end">
            <a [routerLink]="['']" class="">
              <img
                src="../../../assets/image/1280px-Download_on_the_App_Store_Badge 1.svg"
                alt=""
                class="img-fluid disapp"
              />
            </a>

            <a [routerLink]="['']" class="">
              <img
                src="../../../assets/image/1280px-Google_Play_Store_badge_EN 1.svg"
                alt=""
                class="img-fluid disapp"
              />
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 p-4 margin">
        <!-- <div class="card cardy bg-transparent p-4"> -->
        <div class="d-flex align-items-center justify-content-center">
          <div class="card cardy" style="width: 25rem">
            <div class="card-body">
              <div
                class="col-12 d-flex align-items-center justify-content-center my-4"
              >
                <div class="rounded-circle bg-success check">
                  <i
                    class="fas fa-check d-flex align-items-center justify-content-center marg"
                  ></i>
                </div>
              </div>

              <p class="Poppins text-center p-text my-3">
                Your application has been submitted successfully. <br />
                We would process your account and contact you via email <br />
                within 48 hours.
              </p>

              <a
                type="submit"
                role="button"
                [routerLink]="['']"
                class="btn btn-success w-100 rad text-light p-2 mt-3 mb-3 form-control Poppins"
                >Go back to website</a
              >
            </div>
          </div>
        </div>
        <!-- </div> -->
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="card cardy bg-transparent">
          <p class="text-light fw-normal Poppins size">
            © 2022 UrbanDrive. All rights reserved
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 style-links">
        <div class="card cardy bg-transparent">
          <div class="social-links mb-2">
            <a [routerLink]="['']" class="">
              <img
                src="../../../assets/image/Symbol.svg"
                alt=""
                class="img-fluid style"
              />
            </a>

            <a [routerLink]="['']" class="">
              <img
                src="../../../assets/image/Symbol (1).svg"
                alt=""
                class="img-fluid style"
              />
            </a>

            <a [routerLink]="['']" class="">
              <img
                src="../../../assets/image/Vector.svg"
                alt=""
                class="img-fluid style"
              />
            </a>

            <a [routerLink]="['']" class="">
              <img
                src="../../../assets/image/Github shape.svg"
                alt=""
                class="img-fluid style"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
