<section class="bg-warning text-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4 margin_move p-4">
        <h1 class="fw-bolder text-size Poppins mt-5">
          Move around <br />
          town like you <br />
          own it.
        </h1>

        <p class="Poppins p-text mt-4">
          Join urbanDrive to move around like never before. <br />
          get a $10 free on your first journey.
        </p>

        <div class="d-flex align-items-center justify-content-center gap-3">
          <a [routerLink]="['']" class="">
            <img
              src="../../../assets/image/1280px-Download_on_the_App_Store_Badge 1.svg"
              alt=""
              class="img-fluid"
            />
          </a>

          <a [routerLink]="['']" class="">
            <img
              src="../../../assets/image/1280px-Google_Play_Store_badge_EN 1.svg"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-8 image">
        <div class="clip-path card bg-transparent">
          <img
            src="../../../assets/image/pexels-mikhail-nilov-8943072 1 (1).svg"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Brand Section -->
<section class="bg-light p-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-center gap-5">
          <div class="card border-light">
            <img src="../../../assets/image/WSJ.svg" alt="" class="img-fluid" />
          </div>

          <div class="card border-light">
            <img
              src="../../../assets/image/USA TODAY.svg"
              alt=""
              class="img-fluid"
            />
          </div>

          <div class="card border-light">
            <img
              src="../../../assets/image/Bloomberg.svg"
              alt=""
              class="img-fluid"
            />
          </div>

          <div class="card border-light">
            <img
              src="../../../assets/image/Forbes.svg"
              alt=""
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- One-stop Solution -->
<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 margin_mover">
        <h3 class="Poppins fw-bold one-stop">
          One-stop solution for <br />
          your driving needs
        </h3>
        <p class="Poppins mt-3 p-ur">
          With UrbanDrive driver services, you can find a <br />
          professional driver to meet any need, from designated <br />
          drivers for a night out to personal chauffeurs for <br />
          events or errands. Whether you need transportation <br />
          on a business trip or just a ride to a doctor's <br />
          appointment and back, our personal drivers provide a <br />
          chauffeur experience in the comfort of your own car.
        </p>
        <a href="" class="Poppins">View Services</a>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 botom">
        <div class="card border-illus">
          <img
            src="../../../assets/image/Illustration.svg"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- As Simple Section -->
<section class="bg-success p-1">
  <div class="container">
    <div class="row margin_mover">
      <div class="col-sm-12 col-md-6 col-lg-6 ketut">
        <div class="card border-illus bg-transparent">
          <img
            src="../../../assets/image/pexels-ketut-subiyanto-4559714 1.png"
            alt=""
            class="img-fluid img-pic"
          />
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 simple">
        <h3 class="Poppins fw-bold one-stop">As Simple As A-B-C</h3>
        <p class="Poppins mt-3 p-ur">
          Choose your service, pick a destination, request driver, <br />
          meet your driver, enjoy your ride.
        </p>
        <a href="" class="Poppins">How UrbanDrive works</a>
      </div>
    </div>
  </div>
</section>

<section class="bg-light p-1">
  <div class="container">
    <div class="row m-card">
      <div class="col-sm-12 col-md-6 col-lg-4 mb-4 p-3 text-start">
        <div class="card border-illus bg-light">
          <div class="col-12 d-flex align-items-center justify-content-start">
            <div class="col-2 ms-3 mt-2 bg-light p-2 text-start">
              <img
                src="../../../assets/image/price-down.svg"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title fw-bold Poppins">Reliable and Affordable</h5>
            <p class="card-text mt-3">
              We always going to be available to help and with great pricing.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4 mb-4 p-3 text-start">
        <div class="card border-illus bg-light">
          <div class="col-12 d-flex align-items-center justify-content-start">
            <div class="col-2 ms-3 mt-2 bg-light p-2 text-start">
              <img
                src="../../../assets/image/thumbs-up.svg"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title fw-bold Poppins">Safe and Convenient</h5>
            <p class="card-text">
              We eliminate all kind of stress, giving you a smooth experience.
            </p>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4 mb-4 p-3 text-start">
        <div class="card border-illus bg-light">
          <div class="col-12 d-flex align-items-center justify-content-start">
            <div class="col-2 ms-3 mt-2 bg-light p-2 text-start">
              <img
                src="../../../assets/image/24-hours.svg"
                alt=""
                class="img-fluid"
              />
            </div>
          </div>
          <div class="card-body">
            <h5 class="card-title fw-bold Poppins">Always here to help</h5>
            <p class="card-text">
              Get fast support. Whatever you need and whenever you need it.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-dark text-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 p-4">
        <h1 class="fw-bold Poppins read-h mt-5">Ready To Get Started?</h1>

        <p class="Poppins read-p mt-4">
          Download the UrbanDrive app on iOS / Android phones for a seamless
          experience. Track all your bookings and get rewarded for every
          transaction.
        </p>

        <div class="d-flex align-items-center justify-content-start gap-3">
          <a [routerLink]="['']" class="">
            <img
              src="../../../assets/image/1280px-Download_on_the_App_Store_Badge 1.svg"
              alt=""
              class="img-fluid"
            />
          </a>

          <a [routerLink]="['']" class="">
            <img
              src="../../../assets/image/1280px-Google_Play_Store_badge_EN 1.svg"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 mock-up">
        <div class="card b-mockup bg-transparent">
          <img
            src="../../../assets/image/mockuuups-iphone-13-pro-mockup-isometric-right 1.svg"
            alt=""
            class="img-fluid mockup"
          />
        </div>
      </div>
    </div>
  </div>
</section>
