.bg-warning {
  background: #0049b0 !important;
}

.pad {
  padding: 0 12px;
}

.main-image {
  clip-path: polygon(20% 0%, 100% 0, 100% 100%, 63% 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // border: 1px solid black;
  margin-top: 70px;
  height: 90vh;
}

.margin_move {
  margin-top: -4rem;
}

.h-style {
  padding-left: 160px;
  color: #fff;
}

.cardy {
  border: none;
}

.margin_mover {
  margin-top: 150px;
  margin-bottom: 100px;
}

.p-text {
  font-size: 13px;
}

.text-size {
  font-size: 56px;
  letter-spacing: 1;
}

.image {
  margin-left: -4rem;
}

.bg-light {
  background: #fff !important;
}

.border-illus {
  border: none;
}

.one-stop {
  font-size: 30px;
}

.p-ur {
  font-size: 15px;
}

.bg-success {
  background: #e6f0ff !important;
}

.img-pic {
  // margin-bottom: -2rem;
  margin-right: -5rem;
}

.m-card {
  margin-top: 120px;
  margin-bottom: 100px;
}

.mockup {
  margin-top: -6rem;
}

.bg-dark {
  background: #f0f4f5 !important;
}

.b-mockup {
  border: none;
}

.read-h {
  font-size: 40px;
}

.marg {
  margin-bottom: 100px;
}

.botom {
  margin-top: -2rem;
}

a {
  text-decoration: none;
}

.ketut {
  margin-bottom: -6.5rem;
}

@media (max-width: 768px) {
  .image {
    order: -1;
  }

  .main-image {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // border: 1px solid black;
    margin-top: 60px;
    height: 40vh;
    order: -1;
  }

  .h-style {
    padding-left: 8px;
    color: #fff;
  }

  .simple {
    order: -1;
  }

  .text-size {
    font-size: 32px;
  }

  .margin_move {
    margin-top: -1.6rem;
    margin-bottom: 50px;
  }

  .margin_mover {
    margin-top: -1px;
    padding: 30px;
    margin-bottom: 20px;
  }

  .botom {
    margin-top: 50px;
  }

  .one-stop {
    font-size: 24px;
  }

  .p-ur {
    font-size: 13px;
    color: #747474;
  }

  .botom {
    margin-bottom: 40px;
  }

  .ketut {
    margin-bottom: -3.3rem;
    margin-top: 30px;
  }

  .simple {
    margin-bottom: 30px;
  }

  .mock-up {
    order: -1;
  }
}
