<div
  class="bg-banner"
  style="
    background-image: url('../../../../assets/image/pexels-mikhail-nilov-8943072\ 1\ \(4\).svg');
  "
>
  <div class="container">
    <div class="row">
      <div class="col-6 mt-4">
        <div class="card cardy bg-transparent">
          <a [routerLink]="['']" class="navbar-brand brand_logo">
            <img
              src="../../../assets/image/white 1.svg"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
      </div>
      <div class="col-6 mt-4">
        <div class="card cardy bg-transparent">
          <div class="gap-3 d-flex align-items-center justify-content-end">
            <a [routerLink]="['']" class="">
              <img
                src="../../../assets/image/1280px-Download_on_the_App_Store_Badge 1.svg"
                alt=""
                class="img-fluid disapp"
              />
            </a>

            <a [routerLink]="['']" class="">
              <img
                src="../../../assets/image/1280px-Google_Play_Store_badge_EN 1.svg"
                alt=""
                class="img-fluid disapp"
              />
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 p-4">
        <!-- <div class="card cardy bg-transparent p-4"> -->
        <div class="d-flex align-items-center justify-content-center">
          <div
            class="card cardy border-light mt-3 mb-4 card-style"
            style="width: 21rem"
          >
            <div class="card-body mt-4 text-center">
              <form>
                <div class="form-outline mb-4">
                  <input
                    type="name"
                    class="form-control Poppins in-style"
                    formControlName="name"
                    name="name"
                    placeholder="Full name"
                  />

                  <input
                    type="email"
                    name="city"
                    class="form-control mt-4 Poppins in-style"
                    formControlName=""
                    placeholder="Email address"
                  />

                  <input
                    type="number"
                    class="form-control mt-4 Poppins in-style"
                    name="password"
                    formControlName=""
                    placeholder="08012345678"
                  />

                  <input
                    type="name"
                    class="form-control mt-4 Poppins in-style"
                    name="password"
                    formControlName=""
                    placeholder="Preferred social media link"
                  />
                </div>

                <a
                  type="submit"
                  [routerLink]="['/influencer-confirmation']"
                  role="button"
                  class="btn btn-success mb-3 text-light form-control Mulish"
                  >Apply now</a
                >

                <p class="text-dark fw-normal Poppins size">
                  By sending your request you accept our Privacy Policy, agree
                  to receive marketing communications from UrbanDrive via SMS
                  and calls, and agree to chat with us via WhatsApp
                </p>
              </form>
            </div>
          </div>
        </div>
        <!-- </div> -->
      </div>
      <div class="col-6 disa">
        <h3 class="Poppins d-text fw-bolder">
          Become an <br />
          UrbanDrive <br />
          Influencer
        </h3>
        <p class="Poppins fw-light mt-2">
          For those who believe in what we believe <br />
          Make money with us by promoting us
        </p>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="card cardy bg-transparent">
          <p class="text-light fw-normal Poppins size">
            © 2022 UrbanDrive. All rights reserved
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 style-links">
        <div class="card cardy bg-transparent">
          <div class="social-links mb-2">
            <a [routerLink]="['']" class="">
              <img
                src="../../../assets/image/Symbol.svg"
                alt=""
                class="img-fluid style"
              />
            </a>

            <a [routerLink]="['']" class="">
              <img
                src="../../../assets/image/Symbol (1).svg"
                alt=""
                class="img-fluid style"
              />
            </a>

            <a [routerLink]="['']" class="">
              <img
                src="../../../assets/image/Vector.svg"
                alt=""
                class="img-fluid style"
              />
            </a>

            <a [routerLink]="['']" class="">
              <img
                src="../../../assets/image/Github shape.svg"
                alt=""
                class="img-fluid style"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
