<section class="bg-light p-2 disappear">
  <div class="container">
    <div class="row nav-cards">
      <div class="col-12 d-flex align-items-center justify-content-between">
        <div class="card border-illus p-3">
          <div class="d-flex align-items-center justify-content-center">
            <a
              class="nav-link text-dark"
              [routerLink]="['/services/instant-hire']"
              routerLinkActive="active"
              ><img
                src="../../../../assets/image/Frame 103 (1).svg"
                alt=""
                class="img-fluid imagee"
              />
            </a>
          </div>
          <!-- <div class="card-body">
            <h6 class="Poppins fw-bold text-center">Instant Hire</h6>
          </div> -->
        </div>
        <div class="card border-illus">
          <div class="d-flex align-items-center justify-content-center">
            <a
              class="nav-link text-dark"
              [routerLink]="['/services/short-hire']"
              routerLinkActive="active"
              ><img
                src="../../../../assets/image/Frame 104 (1).svg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
          <!-- <div class="card-body">
            <h6 class="Poppins fw-bold text-center">Short Hire</h6>
          </div> -->
        </div>

        <div class="card border-illus">
          <div class="d-flex align-items-center justify-content-center">
            <a
              class="nav-link text-dark"
              [routerLink]="['/services/permanent-hire']"
              routerLinkActive="active"
              ><img
                src="../../../../assets/image/Frame 105.svg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>

          <!-- <div class="card-body">
            <h6 class="Poppins fw-bold text-center">Permanent Hire</h6>
          </div> -->
        </div>
        <div class="card border-illus">
          <div class="d-flex align-items-center justify-content-center">
            <a
              class="nav-link text-dark"
              [routerLink]="['/services/interstate-travel']"
              routerLinkActive="active"
              ><img
                src="../../../../assets/image/Frame 106 (1).svg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>

          <!-- <div class="card-body">
            <h6 class="Poppins fw-bold text-center">Interstate Travel</h6>
          </div> -->
        </div>

        <div class="card border-illus">
          <div class="d-flex align-items-center justify-content-center">
            <a
              class="nav-link text-dark"
              [routerLink]="['/services/driver-check']"
              routerLinkActive="active"
              ><img
                src="../../../../assets/image/Frame 107.svg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
          <!-- <div class="card-body">
            <h6 class="Poppins fw-bold text-center">Driver Check</h6>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>

<div
  class="masthead"
  style="
    background-image: url('../../../../assets/image/pexels-mikhail-nilov-8943072\ 1\ \(14\).svg');
  "
>
  <div class="container">
    <div class="color-overlay d-flex align-items-center justify-content-start">
      <div class="col-12">
        <h3 class="Poppins d-text fw-bolder">
          Enjoy rides <br />
          outside your <br />
          state
        </h3>
        <p class="Poppins fw-light">
          Discover new, secure and better ways to move around town.
          <br />
          get a $10 fee on your first journey.
        </p>
        <div class="d-flex align-items-center justify-content-start mt-3 gap-3">
          <a [routerLink]="['']" class="">
            <img
              src="../../../assets/image/1280px-Download_on_the_App_Store_Badge 1.svg"
              alt=""
              class="img-fluid"
            />
          </a>

          <a [routerLink]="['']" class="">
            <img
              src="../../../assets/image/1280px-Google_Play_Store_badge_EN 1.svg"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="bg-light p-1">
  <div class="container">
    <div class="row m-card">
      <div class="col-12 text-center">
        <h3 class="Poppins fw-bold mb-4">Inter-State Travel</h3>
        <p class="Poppins">
          Inter-state Travel is a short-term service where customers can take
          the driver <br />
          beyond the state. As the name implies. <br />
          Both user and driver agree to some conditions that will be profitable
          for both parties <br />
          before the app assigns them to each other.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-light p-3">
  <div class="container">
    <div class="row">
      <div class="d-flex align-items-center justify-content-center">
        <h3 class="Poppins fw-bold rad">How does it work?</h3>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 margin-mock">
        <div class="d-flex align-items-center justify-content-center mb-4">
          <div class="bg-success rounded-circle p-3 try fw-bold">
            <div class="d-flex align-items-center justify-content-center three">
              1
            </div>
          </div>
          <div class="ms-4">
            <h4 class="Poppins fw-bold">Set Travel type</h4>
            <p class="Poppins">
              Set your travel type to inter-state on the short term request.
            </p>
          </div>
        </div>

        <div class="d-flex align-items-center justify-content-center mb-4">
          <div class="bg-dark rounded-circle p-3 try fw-bold">
            <div class="d-flex align-items-center justify-content-center three">
              2
            </div>
          </div>
          <div class="ms-4">
            <h4 class="Poppins fw-bold">Agree our terms</h4>
            <p class="Poppins">
              Agree the terms to take care of the driver in the duration of the
              service.
            </p>
          </div>
        </div>

        <div class="d-flex align-items-center justify-content-center mb-4">
          <div class="bg-dark rounded-circle p-3 try fw-bold">
            <div class="d-flex align-items-center justify-content-center three">
              3
            </div>
          </div>
          <div class="ms-4">
            <h4 class="Poppins fw-bold">Enjoy your service</h4>
            <p class="Poppins">
              Allow our verified driver take you to your destinations. Allow our
              verified driver take you to your destinations.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 mt-5 mb-4">
        <div class="card bg-light border-illus">
          <img
            src="../../../../assets/image/mockrocket-capture 1.svg"
            class="card-img-top mt-5 p-5 mockroc-up"
            alt="..."
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light p-2">
  <div class="container">
    <div class="row mar-accordion">
      <h3 class="Poppins fw-bold text-center my-3">FAQ</h3>
      <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header fw-bolder Poppins" id="flush-headingOne">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne"
              aria-expanded="false"
              aria-controls="flush-collapseOne"
            >
              Can you book two drivers at once?
            </button>
          </h2>
          <div
            id="flush-collapseOne"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body Poppins">
              No, customers are only allowed to have a driver per time to avoid
              overspending from the customers end and help manage system
              properly.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header fw-bolder Poppins" id="flush-headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo"
              aria-expanded="false"
              aria-controls="flush-collapseTwo"
            >
              How does your pricing work?
            </button>
          </h2>
          <div
            id="flush-collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body Poppins">
              No, customers are only allowed to have a driver per time to avoid
              overspending from the customers end and help manage system
              properly.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2
            class="accordion-header fw-bolder Poppins"
            id="flush-headingThree"
          >
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree"
              aria-expanded="false"
              aria-controls="flush-collapseThree"
            >
              Am I allowed to go outside the state?
            </button>
          </h2>
          <div
            id="flush-collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body Poppins">
              No, customers are only allowed to have a driver per time to avoid
              overspending from the customers end and help manage system
              properly.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header fw-bolder Poppins" id="flush-headingFour">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFour"
              aria-expanded="false"
              aria-controls="flush-collapseFour"
            >
              How long can I have the driver?
            </button>
          </h2>
          <div
            id="flush-collapseFour"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingFour"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body Poppins">
              No, customers are only allowed to have a driver per time to avoid
              overspending from the customers end and help manage system
              properly.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header bold Poppins" id="flush-headingFive">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#flush-collapseFive"
              aria-expanded="false"
              aria-controls="flush-collapseFive"
            >
              How do I know my driver is safe?
            </button>
          </h2>
          <div
            id="flush-collapseFive"
            class="accordion-collapse collapse"
            aria-labelledby="flush-headingFive"
            data-bs-parent="#accordionFlushExample"
          >
            <div class="accordion-body Poppins">
              No, customers are only allowed to have a driver per time to avoid
              overspending from the customers end and help manage system
              properly.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-dark text-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 p-4">
        <h1 class="fw-bold Poppins read-h mt-5">Ready To Get Started?</h1>

        <p class="Poppins read-p mt-4">
          Download the UrbanDrive app on iOS / Android phones for a seamless
          experience. Track all your bookings and get rewarded for every
          transaction.
        </p>

        <div class="d-flex align-items-center justify-content-start gap-3">
          <a [routerLink]="['']" class="">
            <img
              src="../../../assets/image/1280px-Download_on_the_App_Store_Badge 1.svg"
              alt=""
              class="img-fluid"
            />
          </a>

          <a [routerLink]="['']" class="">
            <img
              src="../../../assets/image/1280px-Google_Play_Store_badge_EN 1.svg"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 mock-up">
        <div class="card b-mockup bg-transparent">
          <img
            src="../../../assets/image/mockuuups-iphone-13-pro-mockup-isometric-right 1.svg"
            alt=""
            class="img-fluid mockup"
          />
        </div>
      </div>
    </div>
  </div>
</section>
