<section class="bg-light p-2 disappear">
  <div class="container">
    <div class="row nav-cards">
      <div class="col-12 d-flex align-items-center justify-content-between">
        <div class="card border-illus p-3">
          <div class="d-flex align-items-center justify-content-center">
            <a
              class="nav-link text-dark"
              [routerLink]="['services/instant-hire']"
              routerLinkActive="active"
              ><img
                src="../../../../assets/image/ondemand 3.svg"
                alt=""
                class="img-fluid imagee"
              />
            </a>
          </div>
          <div class="card-body">
            <h6 class="Poppins fw-bold text-center">Instant Hire</h6>
          </div>
        </div>
        <div class="card border-illus">
          <div class="d-flex align-items-center justify-content-center">
            <a
              class="nav-link text-dark"
              [routerLink]="['services/short-hire']"
              routerLinkActive="active"
              ><img
                src="../../../../assets/image/shortterm 1.svg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
          <div class="card-body">
            <h6 class="Poppins fw-bold text-center">Short Hire</h6>
          </div>
        </div>

        <div class="card border-illus">
          <div class="d-flex align-items-center justify-content-center">
            <a
              class="nav-link text-dark"
              [routerLink]="['services/permanent-hire']"
              routerLinkActive="active"
              ><img
                src="../../../../assets/image/hiredriver 1.svg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>

          <div class="card-body">
            <h6 class="Poppins fw-bold text-center">Permanent Hire</h6>
          </div>
        </div>
        <div class="card border-illus">
          <div class="d-flex align-items-center justify-content-center">
            <a
              class="nav-link text-dark"
              [routerLink]="['services/interstate-travel']"
              routerLinkActive="active"
              ><img
                src="../../../../assets/image/arrival 1.svg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>

          <div class="card-body">
            <h6 class="Poppins fw-bold text-center">Interstate Travel</h6>
          </div>
        </div>

        <div class="card border-illus">
          <div class="d-flex align-items-center justify-content-center">
            <a
              class="nav-link text-dark"
              [routerLink]="['services/driver-check']"
              routerLinkActive="active"
              ><img
                src="../../../../assets/image/user (3) 1.svg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
          <div class="card-body">
            <h6 class="Poppins fw-bold text-center">Driver Check</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div
  class="masthead"
  style="
    background-image: url('../../../../assets/image/pexels-mikhail-nilov-8943072\ 1\ \(8\).svg');
  "
>
  <div class="container">
    <div class="color-overlay d-flex align-items-center justify-content-start">
      <div class="col-12">
        <h3 class="Poppins d-text fw-bolder">
          Enjoy rides <br />
          outside your <br />
          state
        </h3>
        <p class="Poppins fw-light">
          Discover new, secure and better ways to move around town.
          <br />
          get a $10 fee on your first journey.
        </p>
        <div class="d-flex align-items-center justify-content-start mt-3 gap-3">
          <a [routerLink]="['']" class="">
            <img
              src="../../../assets/image/1280px-Download_on_the_App_Store_Badge 1.svg"
              alt=""
              class="img-fluid"
            />
          </a>

          <a [routerLink]="['']" class="">
            <img
              src="../../../assets/image/1280px-Google_Play_Store_badge_EN 1.svg"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="bg-light p-1">
  <div class="container">
    <div class="row m-card">
      <div class="col-12 text-center">
        <h3 class="Poppins fw-bold mb-4">Driver Background Check</h3>
        <p class="Poppins mb-5">
          Do you have a driver already? <br />
          We could help you do a background check on your driver for you to know
          exactly who is driving you. <br />
          This service is also accessible from the app.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-dark text-dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 p-4">
        <h1 class="fw-bold Poppins read-h mt-5">Ready To Get Started?</h1>

        <p class="Poppins read-p mt-4">
          Download the UrbanDrive app on iOS / Android phones for a seamless
          experience. Track all your bookings and get rewarded for every
          transaction.
        </p>

        <div class="d-flex align-items-center justify-content-start gap-3">
          <a [routerLink]="['']" class="">
            <img
              src="../../../assets/image/1280px-Download_on_the_App_Store_Badge 1.svg"
              alt=""
              class="img-fluid"
            />
          </a>

          <a [routerLink]="['']" class="">
            <img
              src="../../../assets/image/1280px-Google_Play_Store_badge_EN 1.svg"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 mock-up">
        <div class="card b-mockup bg-transparent">
          <img
            src="../../../assets/image/mockuuups-iphone-13-pro-mockup-isometric-right 1.svg"
            alt=""
            class="img-fluid mockup"
          />
        </div>
      </div>
    </div>
  </div>
</section>
