<section class="bg-light p-3 text-center">
  <div class="container">
    <div class="col-12 mt-5">
      <h3 class="Poppins fw-bold simp-margin">Simplify your journeys</h3>
      <p class="Poppins p-text">
        UrbanDrive is a family of different people, different culture coming
        together to <br />
        achieve something great and solve the problems of millions of people in
        Nigeria and <br />
        in the future, the world.
      </p>
    </div>
    <div class="col-12 mt-5">
      <div class="card border-light">
        <img
          src="../../../../assets/image/Rectangle 53 (1).svg"
          alt=""
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>

<section class="bg-light p-3">
  <div class="container">
    <div class="row urban-mar">
      <div class="col-sm-12 col-md-6 col-lg-6 mb-4">
        <h3 class="Poppins fw-bold text-dark h-text">We are UrbanDrive</h3>
        <p class="Poppins p-text">
          We are a family. different people, different culture coming together
          to achieve something great and solve the problems of millions of
          people in Nigeria and in the future, the world. We are a family.
          different people, different culture coming together to achieve
          something great and solve the problems of millions of people in
          Nigeria and in the future, the world.
        </p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 like-urban">
        <div class="col-12">
          <div class="d-flex justify-content-start align-items-center gap-4">
            <div class="img">
              <img
                src="../../../../assets//image/like 1.svg"
                alt=""
                class="img-fluid img-fluid image"
              />
            </div>
            <div class="img">
              <h4 class="Poppins fw-bold text-dark h-text">
                Moving around better
              </h4>
              <p class="Poppins p-text">
                We always going to be available to help and with great pricing.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 mt-5">
          <div class="d-flex justify-content-start align-items-center gap-4">
            <div class="img">
              <img
                src="../../../../assets/image/convenient1 1.svg"
                alt=""
                class="img-fluid image"
              />
            </div>
            <div class="img">
              <h4 class="Poppins fw-bold text-dark h-text">
                Convenience over stress
              </h4>
              <p class="Poppins p-text">
                We eliminate all kind of stress, giving you a smooth experience.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light p-3">
  <div class="container">
    <div class="row urban-mar">
      <div class="col-sm-12 col-md-6 col-lg-6 mar-fam">
        <h3 class="Poppins fw-bold em-tex h-text">
          Empowering the common people
        </h3>
        <p class="Poppins p-text">
          We are a family. different people, different culture coming together
          to achieve something great and solve the problems of millions of
          people in Nigeria and in the future, the world. We are a family.
          different people, different culture coming together to achieve
          something great and solve the problems of millions of people in
          Nigeria and in the future, the world.
        </p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 like-urban img-man">
        <div class="card border-light">
          <img
            src="../../../../assets/image/Rectangle 53 (2).svg"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light p-3">
  <div class="container">
    <div class="row urban-mar">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="card border-light">
          <img
            src="../../../../assets/image/Rectangle 53 (3).svg"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 mar-fam">
        <h3 class="Poppins fw-bold em-tex h-text">Another way to enjoy life</h3>
        <p class="Poppins p-text">
          We are a family. different people, different culture coming together
          to achieve something great and solve the problems of millions of
          people in Nigeria and in the future, the world. We are a family.
          different people, different culture coming together to achieve
          something great and solve the problems of millions of people in
          Nigeria and in the future, the world.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-light p-3">
  <div class="container">
    <div class="row urban-mar">
      <div class="col-sm-12 col-md-6 col-lg-6 mar-fam">
        <h3 class="Poppins fw-bold em-tex h-text">
          Enjoy your moments and movements
        </h3>
        <p class="Poppins p-text">
          We are a family. different people, different culture coming together
          to achieve something great and solve the problems of millions of
          people in Nigeria and in the future, the world. We are a family.
          different people, different culture coming together to achieve
          something great and solve the problems of millions of people in
          Nigeria and in the future, the world.
        </p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 like-urban img-man">
        <div class="card border-light">
          <img
            src="../../../../assets/image/Rectangle 53 (4).svg"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Brand Section -->
<section class="bg-light p-5">
  <div class="container">
    <div class="row mb-5">
      <h3 class="Poppins fw-bold text-center my-5">Trusted by</h3>
      <div class="col-12">
        <div class="d-flex align-items-center justify-content-center gap-5">
          <div class="card border-light">
            <img src="../../../assets/image/WSJ.svg" alt="" class="img-fluid" />
          </div>

          <div class="card border-light">
            <img
              src="../../../assets/image/USA TODAY.svg"
              alt=""
              class="img-fluid"
            />
          </div>

          <div class="card border-light">
            <img
              src="../../../assets/image/Bloomberg.svg"
              alt=""
              class="img-fluid"
            />
          </div>

          <div class="card border-light">
            <img
              src="../../../assets/image/Forbes.svg"
              alt=""
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-dark p-5">
  <div class="container">
    <div class="row my-5">
      <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="card cardy bg-transparent">
          <div class="d-flex align-items-center justify-content-center">
            <p class="Poppins text-dark">
              Sounds like we are building something you like?
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 like-urban">
        <div class="card cardy bg-transparent">
          <div class="d-flex align-items-center justify-content-center">
            <button type="button" class="btn btn-primary p-2">
              Join Us Today
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
