<section class="bg-light">
  <div class="container">
    <div class="row margint">
      <div class="col-sm-12 col-md-4 col-lg-4 mb-4">
        <div class="ms-2">
          <a class="navbar-brand brand_logo" [routerLink]="['']">
            <img src="../../assets/image/blue 1.svg" alt="" class="img-fluid" />
          </a>
          <p class="p-text Poppins mt-4 stylea">
            UrbanDrive would facilitate seamless driving services within lagos
            metropolies and surrounding communities, thereby generating
            employment for providers and convenience for users
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-8">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-4 mb-4">
            <div class="card cardy">
              <ul class="navbar-nav ms-3 Poppins">
                <h5 class="p-text Poppins fw-bold">Services</h5>
                <li class="nav-item me-3 mb-1 stylea">
                  <a
                    class="nav-link text-dark"
                    [routerLink]="['/services/instant-hire']"
                    >Instant Hire
                  </a>
                </li>
                <li class="nav-item me-3 mb-1 stylea">
                  <a
                    class="nav-link text-dark"
                    [routerLink]="['/services/short-hire']"
                    >Short Term Hire</a
                  >
                </li>
                <li class="nav-item me-3 mb-1 stylea">
                  <a
                    class="nav-link text-dark"
                    [routerLink]="['/services/permanent-hire']"
                    >Permanent Hire</a
                  >
                </li>
                <li class="nav-item me-3 mb-1 stylea">
                  <a
                    class="nav-link text-dark"
                    [routerLink]="['/services/interstate-travel']"
                    >Interstate Travel</a
                  >
                </li>
                <li class="nav-item me-3 mb-1 stylea">
                  <a
                    class="nav-link text-dark"
                    [routerLink]="['/services/driver-check']"
                    >Check My Driver</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4 mb-4">
            <div class="card cardy">
              <ul class="navbar-nav ms-3 Poppins">
                <h5 class="p-text Poppins fw-bold">Partner with us</h5>
                <li class="nav-item me-3 mb-1 stylea">
                  <a
                    class="nav-link text-dark"
                    [routerLink]="['/personal-info']"
                    >Sign up as a Driver
                  </a>
                </li>
                <li class="nav-item me-3 mb-1 stylea">
                  <a class="nav-link text-dark" [routerLink]="['/influencers']"
                    >Become an Ambassador</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4 mb-4">
            <div class="card cardy">
              <ul class="navbar-nav comp-car">
                <h5 class="p-text Poppins fw-bold">Company</h5>
                <li class="nav-item me-3 mb-1 stylea">
                  <a
                    class="nav-link text-dark Poppins"
                    [routerLink]="['/about-us']"
                    >About Us
                  </a>
                </li>
                <li class="nav-item me-3 mb-1 stylea">
                  <a
                    class="nav-link text-dark Poppins"
                    [routerLink]="['/career']"
                    >Careers</a
                  >
                </li>
                <li class="nav-item me-3 mb-1 stylea">
                  <a
                    class="nav-link text-dark Poppins"
                    [routerLink]="['/contact']"
                    >Contact</a
                  >
                </li>
                <li class="nav-item me-3 mb-1 stylea">
                  <a
                    class="nav-link text-dark Poppins"
                    [routerLink]="['/terms-of-service']"
                    >Terms of Service</a
                  >
                </li>
                <li class="nav-item me-3 mb-1 stylea">
                  <a
                    class="nav-link text-dark Poppins"
                    [routerLink]="['/privacy-policy']"
                    >Privacy Policy</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row border-top">
      <!-- <div class="col-12 d-flex align-items-center justify-content-between"> -->
      <div class="col-sm-12 col-md-12 col-lg-6 mt-3">
        <p class="fw-normal text-secondary Poppins size">
          © 2022 UrbanDrive. All rights reserved
        </p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 mt-3 style-links">
        <div class="card cardy">
          <div class="social-links">
            <i class="bi bi-twitter"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-linkedin"></i>
            <i class="bi bi-github"></i>
          </div>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
</section>
