<section class="bg-light height">
  <div class="container">
    <div class="d-flex align-items-center justify-content-center logo-pad">
      <a [routerLink]="['']" class="navbar-brand brand_logo">
        <img src="../../assets/image/blue 1.svg" alt="" class="img-fluid" />
      </a>
    </div>
    <div class="col-12 d-flex align-items-center justify-content-center">
      <div class="card cardy" style="width: 28rem">
        <div class="card-body">
          <div
            class="d-flex align-items-center justify-content-center mb-3 my-2"
          >
            <h5 class="fw-bold text-dark Poppins size">Create Account</h5>
          </div>

          <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="rounded-circle bg-success check">
              <i
                class="fas fa-check d-flex align-items-center justify-content-center marg"
              ></i>
            </div>
          </div>

          <p class="Poppins text-center p-text my-3">
            Your application has been submitted successfully. <br />
            We would process your account and contact you via email within
            <br />
            48 hours.
          </p>

          <a
            type="submit"
            role="button"
            [routerLink]="['']"
            class="btn btn-success w-100 rad text-light p-2 mt-3 form-control Poppins"
            >Go back to website</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
