<div
  class="masthead"
  style="
    background-image: url('../../../../assets/image/pexels-mikhail-nilov-8943072\ 1\ \(3\).svg');
  "
>
  <div class="container">
    <div class="color-overlay d-flex align-items-center justify-content-start">
      <div class="col-12">
        <h3 class="Poppins d-text fw-bolder">Drive your dreams</h3>
        <p class="Poppins fw-light">
          We are on a mission and we are looking for like minded people that
          <br />
          will follow us on this mission.
        </p>
        <div class="button">
          <button type="button" class="btn btn-primary p-2 Poppins">
            see open roles
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="bg-light p-3">
  <div class="container">
    <h3 class="Poppins fw-bold text-center mt-5 mb-5">Why UrbanDrive?</h3>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 mt-5">
        <div class="card cardy bg-transparent">
          <div class="d-flex align-items-center justify-content-start gap-4">
            <div class="img">
              <img
                src="../../../../assets/image/growth.svg"
                alt=""
                class="img-fluid"
              />
            </div>
            <div class="text">
              <h3 class="Poppins fw-bold text-dark">Personal growth</h3>
              <p class="Poppins p-text">
                We are all about growth, both personal and <br />
                work so we try to organise activities as well as <br />
                give good time offs.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 mt-5">
        <div class="card cardy bg-transparent">
          <div class="d-flex align-items-center justify-content-start gap-4">
            <div class="img">
              <img src="../../../../assets/image/shuttle.svg" alt="" class="" />
            </div>
            <div class="text">
              <h3 class="Poppins fw-bold text-dark">Startup</h3>
              <p class="Poppins p-text">
                We are new and fresh so we want to prove that no matter the
                background or origin, with hardwork and dedication, we can make
                a dent.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 mt-5">
        <div class="card cardy bg-transparent">
          <div class="d-flex align-items-center justify-content-start gap-4">
            <div class="img">
              <img
                src="../../../../assets/image/salary.svg"
                alt=""
                class="img-fluid"
              />
            </div>
            <div class="text">
              <h3 class="Poppins fw-bold text-dark">Compensation and Salary</h3>
              <p class="Poppins p-text">
                We offer competitive salaries and several bonus packages based
                on income.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 mt-5">
        <div class="card cardy bg-transparent">
          <div class="d-flex align-items-center justify-content-start gap-4">
            <div class="img">
              <img src="../../../../assets/image/team.svg" alt="" class="" />
            </div>
            <div class="text">
              <h3 class="Poppins fw-bold text-dark">Vast team</h3>
              <p class="Poppins p-text">
                You get to meet new people from different places on the planet.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light">
  <div class="container">
    <div class="row cardy-img">
      <div class="col-3">
        <div class="card cardy">
          <img
            src="../../../../assets/image/Rectangle 57.svg"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-6">
        <div class="card cardy">
          <img
            src="../../../../assets/image/Rectangle 53 (5).svg"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-3">
        <div class="card cardy">
          <img
            src="../../../../assets/image/Rectangle 54.svg"
            alt=""
            class="img-fluid"
          />
        </div>
        <div class="card cardy mt-3">
          <img
            src="../../../../assets/image/Rectangle 55.svg"
            alt=""
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="bg-light">
  <div class="container">
    <div class="col-12 more">
      <h3 class="Poppins text-center my-5 fw-bold">More than just a team</h3>
      <img
        src="../../../../assets/image/Rectangle 52.svg"
        alt=""
        class="img-fluid"
      />
      <p class="Poppins text-center my-5">
        We are a family. different people, different culture coming together to
        achieve <br />
        something great and solve the problems of millions of people in Nigeria
        and in the <br />
        future, the world.
      </p>
    </div>
  </div>
</section>

<section class="bg-light">
  <div class="container">
    <div class="col-12 mart">
      <h3 class="Poppins text-center fw-bold mb-3">10 Open Roles</h3>
      <div class="d-flex align-items-center justify-content-center">
        <div
          class="d-flex align-items-center justify-content-center search my-5"
        >
          <input
            type="search"
            class="search_bar Poppins"
            name=""
            placeholder=""
            id=""
          />

          <img
            src="../../../../assets/image/Search.svg"
            alt=""
            class="img-fluid p-3 ms-2"
          />
        </div>
      </div>

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr class="my-3">
              <th scope="col" class="Poppins">Role</th>
              <th scope="col" class="Poppins">Department</th>
              <th scope="col" class="Poppins">Location</th>
              <th scope="col" class="Poppins">Type</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row" class="Poppins fw-normal my-3">
                Senior Frontend Developer
              </th>
              <td class="Poppins">Development</td>
              <td class="Poppins">Abuja</td>
              <td class="Poppins">Full-time</td>
            </tr>
            <tr>
              <th scope="row" class="Poppins fw-normal">
                Senior Frontend Developer
              </th>
              <td class="Poppins">Development</td>
              <td class="Poppins">Abuja</td>
              <td class="Poppins">Full-time</td>
            </tr>
            <tr>
              <th scope="row" class="Poppins fw-normal">
                Senior Frontend Developer
              </th>
              <td class="Poppins">Development</td>
              <td class="Poppins">Abuja</td>
              <td class="Poppins">Full-time</td>
            </tr>
            <tr>
              <th scope="row" class="Poppins fw-normal">
                Senior Frontend Developer
              </th>
              <td class="Poppins">Development</td>
              <td class="Poppins">Abuja</td>
              <td class="Poppins">Full-time</td>
            </tr>
            <tr>
              <th scope="row" class="Poppins fw-normal">
                Senior Frontend Developer
              </th>
              <td class="Poppins">Development</td>
              <td class="Poppins">Abuja</td>
              <td class="Poppins">Full-time</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="d-flex align-items-center justify-content-center my-5">
        <button type="button" class="btn btn-dark">View more</button>
      </div>
    </div>
  </div>
</section>
