.masthead {
  background-size: cover;
  background-position: cover;
  min-height: 95vh;
  position: relative;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.color-overlay {
  position: absolute;
  width: 80%;
  height: 100%;
}

.d-text {
  font-size: 60px;
}

.bg-light {
  background: #fff !important;
}

.cardy {
  border: none;
}

.simple {
  margin-top: 120px;
  margin-bottom: 50px;
}

.mockup {
  margin-top: -6rem;
}

.bg-dark {
  background: #f0f4f5 !important;
}

.b-mockup {
  border: none;
}

.read-h {
  font-size: 40px;
}

.list-style {
  font-size: 17px;
  color: #0049b0;
  font-weight: 600;
}

.fs-4 {
  font-size: 18px !important;
}

.nav-link {
  padding: 0 !important;
}

@media (max-width: 768px) {
  .mock-up {
    order: -1;
  }
}
